@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@import url('reset.css');

/* #region body*/
:root {
  --bg-color: #ECECEC;
  --header-upper-height: 100px;
  --header-lower-height: 150px;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: #000000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

/* #endregion */

/* #region selectors */
[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
}

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
}

[class*="__btn"] {
  background-color: #EF781A;
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

@media (max-width: 1249.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}

/* #endregion */

/* #region headder */
.header {}

.header__upper {
  background-color: #FFFFFF;
}

.header__upper__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-upper-height);
  padding: 10px inherit;
}

.header__upper__logo {}

/* #region location */
.header__upper__form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}

.header__upper__form__location {
  border: none;
  background: transparent;
  min-width: 500px;
  margin: 0;
  padding: 7px 8px;
  border: 1px solid transparent;
  border-radius: inherit;
  color: #A1A1A1;
  font-size: 16px;
  font-weight: 500;
}

.header__upper__form__location::placeholder {
  color: #bbb;
}

.header__upper__form__location:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("images/svg/location.svg") no-repeat 13px center;
}

/* #endregion */

.header__upper__location {
  font-weight: 800;
}

.header__upper__menu {}


.header__upper__menu__join__btn,
.header__upper__menu__cart__btn {
  font-size: 16px;
  display: inline-flex;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.header__upper__menu__join__btn {
  margin-right: 30px;
}

.header__upper__menu__cart__btn {
  background-color: #00D008;
}

.header__lower {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px #a5a4a4;
}

.header__lower__container {
  min-height: var(--header-lower-height);
  display: flex;
  align-items: end;
}

.header__lower__title {
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 30px;
}

/* #endregion */

/* #region page */
.page {}

.page__container {}

/* #endregion */

/* #region footer */
.footer {}

.footer__container {}

/* #endregion */