@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@import url('reset.css');

/* #region body*/
body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  background-color: #ECECEC;
  color: #000000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

/* #endregion */

/* #region selectors */
[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
}

@media (max-width: 1249.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}

/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */